@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5>Διπλωματική Εργασία:</h5>
    <h2><i>"Σχεδίαση και υλοποίηση συστήματος για την παρακολούθηση και διαχείριση αγροκαλλιεργειών χρησιμοποιώντας τεχνολογίες του Διαδικτύου των Πράγματων"</i></h2>
    <h5>Παντικίδης Σοφοκλής</h5>
</div>
<p>&nbsp;</p>
<div class="text-justify">
    <p>Η εφαρμογή της παρούσας ιστοσελίδας υλοποιήθηκε στα πλαίσια της ΔΕ που αφορά την δημιουργία συστήματος αισθήτήρων και αυτοματοποιημένου ποτίσματος. Η εφαρμογή παρέχει τις παρακάτω δυνατότητες:</p>
    <ul type="circle">
        <li>Παρακαλούθηση σε πραγματικό χρόνο βασικών περιβαντολογικών συνθηκών της αγροκαλλιέργιας</li>
        <li>Παράθεση γραφημάτων με τις ιστορικές τιμές μέτρήσεων βασικών περιβαντολογικών συνθηκών της αγροκαλλιέργιας</li>
        <li>Θέσπιση ορίων/παραμέτρων για την αυτόματη λειτουργεία του συστήματος ποτίσματος</li>
    </ul>
</div>
