@page
@model AgriWebSite_v2.Pages.Relay3Model
@{
}

@if (@Model.StatusMessageShow == 1)
{
    <div class="alert alert-info alert-dismissible fade show">
        @Model.TempMessage
        <button type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Close</span>
        </button>
    </div>
}

<form method="post">
    <div>
        <h3>Relay 3</h3>
    </div>
    <div class="form-group row">
        <label class="col-sm-3" for="">Soil Moisture</label>
        <input class="form-control col-sm-2" type="checkbox" asp-for="SoilMoistureIsChecked">
        <label class="col-sm-3" for="SoilMoistureDownLimit">Κάτω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="SoilMoistureDownLimit">
        <label class="col-sm-3" for="SoilMoistureUpLimit">Άνω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="SoilMoistureUpLimit">
    </div>
    <div class="form-group row">
        <label class="col-sm-3" for="">Lum</label>
        <input class="form-control col-sm-2" type="checkbox" asp-for="LumIsChecked">
        <label class="col-sm-3" for="LumDownLimit">Κάτω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="LumDownLimit">
        <label class="col-sm-3" for="LumUpLimit">Άνω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="LumUpLimit">
    </div>

    <div class="form-group row">
        <label class="col-sm-3" for="">Temperature</label>
        <input class="form-control col-sm-2" type="checkbox" asp-for="TemperatureIsChecked">
        <label class="col-sm-3" for="TemperatureDownLimit">Κάτω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="TemperatureDownLimit">
        <label class="col-sm-3" for="TemperatureUpLimit">Άνω Όριο:</label>
        <input class="form-control col-sm-2" type="text" asp-for="TemperatureUpLimit">
    </div>

    @*<div class="form-group row">
            <select class="form-control col-sm-2" name="RelayChannel">
                <option value="">Select a Relay</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>*@
    <p>&nbsp;</p>

    <div class="form-group  col-sm-6">
        <input class="btn btn-info btn-sm col-sm-3" type="submit" value="Υποβολή">
    </div>
</form>